<div data-role="view" data-title="Authentication" data-layout="main-nonav" data-model="app.authenticationView" data-show="app.authenticationView.onShow" data-after-show="app.authenticationView.afterShow">
    <div class="signin-view2">
        <div class="title"  >
                        <label>Sign in to<br> QAD Connect</label>
        </div>
        <form>
           
            <ul class="listview2" data-style="inset">
                <br>
                <li>
                    <input class="login-input" placeholder="Username" type="email" data-bind="value: authenticationViewModel.email" required autofocus >
                 </li>
                 <br>
                <li>
                    <input class="login-input" placeholder="Password" type="password" data-bind="value: authenticationViewModel.password" required >
                </li>
             </ul>
            

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: authenticationViewModel.signin }">Sign In</a>

            </div>
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_authenticationView -->
    <!-- END_CUSTOM_CODE_authenticationView -->
</div>