<div data-role="view" data-title="Details" data-layout="main-nav" data-model="app.dataListView.dataListViewModel" data-bind="events: { show: detailsShow }">

    <!-- START_CUSTOM_CODE_dataListViewModel -->    
    <div class="reply-panel">
    <ul class="listview2">
        <br>
        <b><span  data-bind="text: currentItem.urlText"></span></b>
       <li class="reply-fields"></li>
       <br>
	    <li ><span  data-bind="html: currentItem.text"></span></li>
        <br>
    <div id="formViewModel" class="form-view">
        <form action="submit()">
            <ul class="form-content" data-role="listview" data-style="inset" data-type="group" >
                <li><label>
                    <input id="reply" type="text" data-bind="value: fields.reply" style="height: 100px; width: 90%; font-size: 16px; " autofocus required/>
                 </label>
                </li>
            </ul>           
            <div class="button-group">                
                <a class="primary" data-role="button" data-icon="reply" data-bind="events: { click: submit }">Reply</a>
            </div>
        </form>
    </div>
    </ul>
        
     </div>
        
    <div data-role="footer">
            <div data-role="tabstrip">
                <a href="tel:654566515" data-rel="external" data-icon="phone">Call</a>   
                <a href="mailto:eem@qad.com" data-rel="external" data-icon="reply">email</a>
                <a href="views/contacts.html" data-icon="contacts">Contact</a>
            </div>
    </div>
        
     
    <!-- END_CUSTOM_CODE_dataListViewModel -->
</div>