<div data-role="view" data-title="Notification List" data-layout="main-nav" data-model="app.dataListView" data-show="app.dataListView.onShow" data-after-show="app.dataListView.afterShow">
    <!-- START_CUSTOM_CODE_dataListView -->
    <!-- END_CUSTOM_CODE_dataListView -->

    <ul id="itemlist" data-role="listview" data-style="inset" data-template="dataListViewModelTemplate" data-bind="{ source: dataListViewModel.dataSource}}" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>


    <script type="text/x-kendo-template" id="dataListViewModelTemplate">
        <div class="touchItem2" style="position: relative;">
        
        <div class="contextmenu">
            <a data-role="button" class="actionbutton btn-archive" data-icon="delete" style="background-color: red; padding: 1.2em 0.5em; color: white; font-size: 1.4em; border-radius: 11px;"
                data-click="app.dataListView.dataListViewModel.delete" data-notificationid="#: data['notificationId'] #"></a>              
                <a data-role="button" class="actionbutton btn-archive" data-icon="bookmarks" style="background-color: \#03a9f4; padding: 1.2em 0.5em; color: white; font-size: 1.4em; border-radius: 11px;" 
                    data-click="app.dataListView.dataListViewModel.markasread" data-notificationid="#: data['notificationId'] #"
              # if (data['read'] == true) { # 
                disabled="true"
                # } # 
                ></a>
         </div>
        <div class="itemdragged" data-tap="app.dataListView.dataListViewModel.itemClick" data-notificationid="#: data['notificationId'] #" 
        data-uid="#: data['uid'] #"
        data-role="touch" data-drag="app.dataListView.dataListViewModel.dragging" data-dragend="app.dataListView.dataListViewModel.dragend">
            # var unread = 'display: none';
            #
            # if (data['read'] == false) { #
                #   unread = 'display: block';     #
            # } #  
            
            <div style="#: unread #

            " class="circle"></div>
            <div class="j-listview-item announcement">
                
                # var image = '';
                #
                # if (data['type'] == 1) { #
                    #   image = 'resources/img/system.png'; #
                #} else if (data['type'] == 6 || data['type'] == 12) { #
                    #   image = 'resources/img/comment.png';#
                #} else if (data['type'] == 5 || data['type'] == 10) { #
                    #   image = 'resources/img/tag.png';#
                #} else { #
                    #   image = 'resources/img/envelope.png'; #
                #}
                #                	
                <img src="#: image #"/>
                <div class="j-listview-item-content">
                    <span>#: data['urlText'] #</span>
                    <span>#= data['text'] #</span>
                </div>
            </div>
            </div>
        </div>
        
    </script>
    
  
</div>
